<nav>
    <div class="nav-left">
        <a href="index.html">
            <i class="fa fa-home"></i>
            PolyNotes
        </a>
    </div>
    <div class="nav-right">
        <a href="resetpassword.html">Modifier mot de passe</a>
        <a href="auth.html">Déconnection</a>
    </div>
</nav>