<form action="/forgot?_method=PUT" method="post">
    <h1>Mot de passe oublié</h1>
    <hr>

    <label for="username">Nom d'utilisateur :</label>
    <input type="text" id="username" name="username" placeholder="Identifiant" required>
    <br><br>
    <% if (hasError != null) { %>
        <p class="message-error"> <%- hasError %> </p>
    <% } %>
    <input type="submit" value="Réinitialiser le mot de passe">
</form>