<%- include('../partials/navbar') %>


<div class="content">
    <div class="buttons">
        <a href="/uploadModel">Publier maquette</a>
        <a href="/uploadGrades">Publier notes</a>
        <a href="/viewGrades">Consulter note</a>
        <a href="/searchgrades">Rechercher note</a>
    </div>
</div>