<%- include('../partials/navbar') %>
<% if (secretQuestion == null) {secretQuestion = 'Pas encore de question secrète' %>
<% } else if (secretQuestion == 1) {secretQuestion = 'Quel est le nom de jeune fille de votre mère ?' %>
<% } else if (secretQuestion == 2) {secretQuestion = 'Quel était le nom de votre premier animal de compagnie ?' %>
<% } else if (secretQuestion == 3) {secretQuestion = 'Quel était le nom de votre première école ?'} %>

<form action="/resetPassword?_method=PUT" method="post">
    <h1>Réinitialisation de mot de passe</h1>
    <hr>

    <label for="password">Ancien mot de passe :</label>
    <input type="password" id="password" name="password_old" placeholder="Nouveau mot de passe" required>
    <br><br>

    <label for="password">Nouveau mot de passe :</label>
    <input type="password" id="password" name="password_new" placeholder="Nouveau mot de passe" required>
    <br><br>

    <label for="password_confirm">Confirmation de mot de passe :</label>
    <input type="password" id="password_confirm" name="password_confirm" placeholder="Répétez le mot de passe" required>
    <br><br>

    <label for="answer">Question secrète :<br><%= secretQuestion %></label>
    <input type="password" id="answer" name="answer" placeholder="Reponse" required>
    <br><br>

    <input type="submit" value="Réinitialiser le mot de passe">
</form>