<%- include('../partials/navbar') %>

<form action="/uploadModel" method="POST" enctype="multipart/form-data">
    <h1>Publier maquette</h1>
    <hr>

    <p>Sélectionnez la promotion et le semestre du modèle.</p>
    
    <select id="secret-promo" name="promotion">
        <option value="">--Promotion--</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
    </select>
    <br>

    <label for="fileInput">Choisir un fichier Excel :</label>
    <input type="file" id="fileInput" name="file" accept=".xls, .xlsx">
    <br>
    <input type="submit" value="Publier">
</form>