<div class="login-form">
    <form action="/" method="POST">
        <h1>Authentification</h1>
        <hr>

        <label for="username">Nom d'utilisateur :</label>
        <input class="userform" name="username" type="text"  placeholder="Identifiant" required><br>
        
        <label for="password">Mot de passe :</label>
        <input class="userform" name="password" type="password" placeholder="Mot de passe" required><br>
        <% if (hasError) { %>
            <p class="message-error"> <%= hasError %> </p>
        <% } %>

        <a class="forgot" href="/forgot">Mot de passe oublié ?</a>

        <input class="btn" type="submit" value="Se connecter">
    </form>
</div>